<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable"content="yes">
    <meta name="description"content="">
    <meta name="author"content="">
    <!-- <link rel="icon"href="favicon.ico"> -->

    <title>西安交通大学运动会</title>

    <link href="http://cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/src/lib/css/bootstrap.min.css" rel="stylesheet">

    <link href="__PUBLIC__/Home/src/css/main.min.css" rel="stylesheet">

</head>
<body>

    <div class="container container-index">

        <div class="form">
            <form action="#">
                <div class="form-group col-xs-10 col-xs-offset-1">
                    <div class="select col-xs-12 btn btn-default">
                        <i class="icon-caret-down pull-left"></i>
                        请选择你的队伍
                    </div>
                </div>
                <div class="form-group col-xs-10 col-xs-offset-1">
                    <input class="login center-block col-xs-12 btn btn-default" type="submit" value="Login">
                </div>
            </form>
        </div>

        <ul class="options list-unstyled list-group col-xs-10 col-xs-offset-1 text-center">
<!--             <li class="option list-group-item">仲英书院</li>
            <li class="option list-group-item">南洋书院</li>
            <li class="option list-group-item">彭康书院</li>
            <li class="option list-group-item">崇实书院</li>
            <li class="option list-group-item">文治书院</li>
            <li class="option list-group-item">励志书院</li>
            <li class="option list-group-item">宗濂书院</li>
            <li class="option list-group-item">启德书院</li> -->
        </ul>
        
    </div>

    <script src="__PUBLIC__/Home/src/lib/js/jquery-1.11.3.min.js"></script>
    <script src="__PUBLIC__/Home/src/js/index.js"></script>

</body>
</html>
